@font-face {
  font-family: "Ikarus";
  src: url("fonts/ABCIkarusv170-VariableVF.ttf") format("truetype-variations");
}

svg,
body {
  background-color: black;
  font-family: "Ikarus";
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 200, "wdth" 110, "ital" 0, "cont" 0;
  color: #fff;
  /* max-inline-size: 105ch; */
  /* text-wrap: balance; */
  /* -webkit-font-smoothing: antialiased; */
  /* text-rendering: optimizeLegibility; */
  /* letter-spacing: 0em; */
}

.container {
  display: block;
  width: 1220px;
  /* Center Container */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 33px;
  /* text-justify: auto;
  text-align: justify; */
  font-size: 100%;
  /* margin: 2% 2% 2%; */
  background-color: rgba(141, 174, 244, 0.607);
}

.word {
  display: inline-block;
  overflow: hidden;
  padding: .15%;
  font-size: 2rem;
}

#w27,
#w55 {
  display: flex;
}