@font-face {
  font-family: "Ikarus";
  src: url("ABCIkarusv170-VariableVF.ttf") format("truetype-variations");
}

html {
  font-size: 100%;
  display: block;
  line-height: 400%;
}

svg,
body {
  background-color: black;
  font-family: "Ikarus";
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 200, "wdth" 100, "ital" 0, "cont" 0;
  /* max-inline-size: 105ch;
  text-wrap: balance;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* margin: 1rem 1rem 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.words {
  display: inline-flex;
  overflow: hidden;
  padding: .24%;
  font-size: 6rem;
  color: antiquewhite;
}