@font-face {
  font-family: "Ikarus";
  src: url("fonts/ABCIkarusv170-VariableVF.ttf") format("truetype-variations");
}

svg,
body {
  background-color: black;
  font-family: "Ikarus";
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 200, "wdth" 100, "ital" 0, "cont" 0;
  color: #fff;
  /* max-inline-size: 105ch;
  text-wrap: balance; */
  /* -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; */
  /* letter-spacing: 0em; */
}

.container {
  display: flex;
  flex-flow: row wrap;
  writing-mode: horizontal-tb;
  /* min-width: 150px; */
  max-width: 1220px;
  max-height: 100vh;
  gap: 0.5ch;
  /* align-content: start; */
  justify-content: space-between;

  font-size: 100%;
  margin: 2% 2% 2%;
  background-color: rgba(255, 192, 203, 0.607);
}

.word {
  display: flex;
  /* align-items: center; */
  overflow: hidden;
  /* padding: .24%; */
  font-size: 2rem;
  color: antiquewhite;
}