@font-face {
  font-family: "Ikarus";
  src: url("fonts/ABCIkarusv170-VariableVF.ttf") format("truetype-variations");
}

svg,
body {
  background-color: black;
  font-family: "Ikarus";
  font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
  font-variation-settings: "wght" 295, "wdth" 100, "ital" 0, "cont" 0;
  color: #aed1df;
}

.master-container {
  display: block;
  width: 60vw;
  /* margin: 20vh 20vw 0vh 20vw; */
  margin: 10vh 20vw 0;

  /* Center Container */
  /* position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%); */

  /* text-rendering: optimizeSpeed; */
  line-height: 2.25em;
  font-size: 100%;
  overflow: visible;
}

.line-container {
  display: flex;
}

.word {
  display: flex;
  padding: .1vw;
  font-size: 2vw;
}

#ln5w18 {
  font-variation-settings: "wght" 295, "wdth" 100, "ital" 9, "cont" 0;
}