/* :host { */
/* place-self: center; */
/* margin-block-start: 0; */
/* margin-block-end: 0; */
/* margin: 0; */
/* padding: 0; */
/* } */

/* :host([hidden]) {
  display: none;
} */

/* div {
  border: 1px solid cornflowerblue;
  font-size: clamp(1.4rem, 0.75vw + 1.24rem, 2.2rem);
  white-space: nowrap;
  overflow: visible;
  place-content: center;
  content-visibility: auto;
  height: 100cqb;
  width: 100cqi;
} */
