/*********************
wght 47 200 900
wdth 60 60 140 - use %
ital 0 0 12
cont 0 100 100
*********************/


@font-face {
  font-family: Ikarus;
  src: url("../Ikarus.woff2") format("woff2-variations");
  font-weight: 47 900;
  font-stretch: 60% 140%;
  font-display: swap;
  unicode-range: U+00-7F, U+2014;
}

:root {
  background-color: #213547;
  color: ivory;
  font-family: Ikarus, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-feature-settings:
    "case" 1,
    "liga" 1,
    "ss02" 1,
    "ss03" 1,
    "ss04" 1,
    "ss06" 1,
    "ss10" 1,
    "ss11" 1,
    "ss12" 1,
    "ss18" 1;
  font-variation-settings: "ital" 0, "cont" 0;
  font-weight: 325;
  font-stretch: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-snap-type: x mandatory;
}

/* main {
  border: 1px solid cornflowerblue;
  container-type: size;
  width: 51ch;
  height: 100%;
  place-self: center;
  place-content: center;
  font-size: clamp(1.4rem, 0.75vw + 1.24rem, 2.2rem);
  white-space: nowrap;
  overflow: visible;
  padding: 0;
}

.root {
  height: 100vh;
}

moving-text {
  display: block;
  border: 1px solid red;
  content-visibility: auto;
  contain-intrinsic-width: 51ch;
  contain-intrinsic-height: 100vh;
  scroll-snap-stop: always;
}

moving-text p {
  border: 1px dashed lightcoral;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 2.5rem;
}

h1 {
  font-size: 4rem;
  place-self: center;
}

span:hover::after {
  content: attr(id);
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: cornflowerblue;
  padding: 5px;
  border-radius: 3px;
  font-size: 1.2rem;
  top: 10px;
  right: 10px;
  z-index: 10;
} */
