/*********************
wght 47 200 900
wdth 60 60 140 - use %
ital 0 0 12
cont 0 100 100
*********************/


@font-face {
  font-family: Ikarus;
  src: url("../Ikarus.woff2") format("woff2-variations");
  font-weight: 47 900;
  font-stretch: 60% 140%;
  font-display: swap;
  unicode-range: U+00-7F, U+2014;
}

html {
  background-color: #213547;
  color: #f1f1f1f5;
  font-family: Ikarus, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-feature-settings:
    "case" 1,
    "liga" 1,
    "ss02" 1,
    "ss03" 1,
    "ss04" 1,
    "ss06" 1,
    "ss10" 1,
    "ss11" 1,
    "ss12" 1,
    "ss18" 1;
  font-variation-settings: "ital" 0, "cont" 0;
  font-weight: 325;
  font-stretch: 100%;
  height: 100%;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  border: 1px solid red;
  font-size: clamp(1.4rem, 0.75vw + 1.24rem, 2.2rem);
  white-space: nowrap;
  overflow: visible;
  place-content: center;
  content-visibility: auto;
  height: 100cqb;
  width: 100cqi;
  transition-property: opacity, content-visibility;
  transition-duration: 0.25s;
  transition-behavior: allow-discrete;
  transition-timing-function: div-easeInBounce;
}

article {
  container-type: size;
  width: 53ch;
  height: 100vh;
  place-self: center;
}
